{% extends 'index.html' %}
{% block contactus %}
<div class="contact-us wow fadeIn  data-wow-duration="2s" data-wow-delay="1s"">
    <h1>Get in touche!
      itssssssss{{output}}
    </h1>
    
    <form method='post' action="{% url 'saveinquiery' %}">
      {% csrf_token %}
      <div class="name-info">
        <input type="text" name="name" value="" placeholder="Name">
        <input type="text" name="email" value="" placeholder="Email">
      </div>
      <textarea name="des" rows="8" cols="80" placeholder="How I can helpe you?"></textarea>
      <div class="wow zoomIn  data-wow-duration="2s" data-wow-delay="1s"">
        <button type="submit">Send</button>
      </div>
    </form>
  </div>
  <div class="footer">
    <div class="sociaux col-md-12">
      <div class="facebook col-md-4 wow fadeIn  data-wow-duration="2s" data-wow-delay="1s"">
        <a href="#"></a>
      </div>
      <div class="dribbble col-md-4 wow fadeIn  data-wow-duration="2s" data-wow-delay="1.5s"">
        <a href="#"></a>
      </div>
      <div class="twitter col-md-4 wow fadeIn  data-wow-duration="2s" data-wow-delay="2s"">
        <a href="#"></a>
      </div>
    </div>
    <div class="copyright">
      <h5>Copyright (c) 2017 By  <a href="https://goo.gl/Dz4SeU">Devma</a></h5>
    </div>
  </div>
<div class="goTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/mainscript.js"></script>
</body>
</html>
{% endblock contactus %}