<link rel="stylesheet" href="/static/css/formi.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 

<div class="container">
  <form  method="post" action="{% url 'submitform %" >
    {% csrf_token %}
    <p>Welcome</p>
    <input type="text" placeholder="Email" name="num"><br>
    <input type="password" placeholder="Password" name="num2"><br>
    
   <button type="submit">submit</button>
   <input type="text">{{output}}
   {{a}}
    <script>
        alert("If you are not upset with the design, then it isn't a bad idea to color the grey heart pink.😁");
    </script>
  </form>

  <div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
  </div>
</div>